/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("../../fonts/Space_Grotesk/static/SpaceGrotesk-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
header {
  background-color: #000000;
}
header .header_wrapper {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 870px) {
  header .header_wrapper {
    padding: 30px 0;
  }
}
header .header_wrapper .logo {
  width: 12%;
  cursor: pointer;
}
@media (max-width: 1200px) {
  header .header_wrapper .logo {
    width: 11%;
  }
}
@media (max-width: 1024px) {
  header .header_wrapper .logo {
    width: 10%;
  }
}
@media (max-width: 960px) {
  header .header_wrapper .logo {
    width: 8%;
  }
}
@media (max-width: 870px) {
  header .header_wrapper .logo {
    width: 6%;
  }
}
@media (max-width: 715px) {
  header .header_wrapper .logo {
    width: 10%;
  }
}
header .header_wrapper .logo a {
  color: #c4c2c3;
  display: block;
  text-align: center;
}
@media (max-width: 960px) {
  header .header_wrapper .logo a {
    font-size: 10px;
  }
}
@media (max-width: 870px) {
  header .header_wrapper .logo a {
    font-size: 9px;
  }
}
@media (max-width: 780px) {
  header .header_wrapper .logo a {
    font-size: 8px;
  }
}
@media (max-width: 715px) {
  header .header_wrapper .logo a {
    font-size: 12px;
  }
}
header .header_wrapper .logo a:nth-child(1) {
  margin-bottom: 10px;
}
header .header_wrapper .logo a img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 715px) {
  header .header_wrapper .navigation {
    display: none;
  }
}
header .header_wrapper .navigation.active {
  display: block;
}
header .header_wrapper .navigation nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 715px) {
  header .header_wrapper .navigation nav ul {
    height: 100vh;
    width: 100%;
    padding: 110px 0 170px 0;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #000000;
    opacity: 0.9;
    z-index: 6;
  }
}
header .header_wrapper .navigation nav ul li {
  font-family: "Space Grotesk", sans-serif;
  position: relative;
}
header .header_wrapper .navigation nav ul li::after {
  display: inline-block;
  content: "";
  width: 0%;
  height: 2px;
  background-color: #f21a09;
  transition: width 0.3s ease;
  position: absolute;
  bottom: -5px;
  left: 0;
}
header .header_wrapper .navigation nav ul li:hover::after {
  width: 100%;
}
header .header_wrapper .navigation nav ul li a {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1310px) {
  header .header_wrapper .navigation nav ul li a {
    font-size: 13px;
  }
}
@media (max-width: 1200px) {
  header .header_wrapper .navigation nav ul li a {
    font-size: 11px;
  }
}
@media (max-width: 1024px) {
  header .header_wrapper .navigation nav ul li a {
    font-size: 10px;
  }
}
@media (max-width: 960px) {
  header .header_wrapper .navigation nav ul li a {
    font-size: 9px;
  }
}
@media (max-width: 870px) {
  header .header_wrapper .navigation nav ul li a {
    font-size: 8px;
  }
}
@media (max-width: 780px) {
  header .header_wrapper .navigation nav ul li a {
    font-size: 7px;
  }
}
@media (max-width: 715px) {
  header .header_wrapper .navigation nav ul li a {
    font-size: 15px;
  }
}
header .header_wrapper .overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  z-index: 5;
  transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out;
}
header .header_wrapper .overlay.active {
  opacity: 0.96;
  width: 100%;
  height: 100%;
}
header .header_wrapper .join_us {
  background-color: #f21a09;
  padding: 10px 20px;
  border-radius: 7px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
@media (max-width: 715px) {
  header .header_wrapper .join_us {
    display: none;
  }
}
header .header_wrapper .join_us:hover {
  background-color: #ffffff;
}
header .header_wrapper .join_us:hover a {
  color: #f21a09;
}
header .header_wrapper .join_us.active {
  display: block;
  position: fixed;
  bottom: 11%;
  left: 50%;
  transform: translate(-50%);
  z-index: 7;
}
header .header_wrapper .join_us a {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  transition: color 0.3s ease;
}
@media (max-width: 1310px) {
  header .header_wrapper .join_us a {
    font-size: 13px;
  }
}
@media (max-width: 1200px) {
  header .header_wrapper .join_us a {
    font-size: 11px;
  }
}
@media (max-width: 1024px) {
  header .header_wrapper .join_us a {
    font-size: 10px;
  }
}
@media (max-width: 960px) {
  header .header_wrapper .join_us a {
    font-size: 9px;
  }
}
@media (max-width: 870px) {
  header .header_wrapper .join_us a {
    font-size: 8px;
  }
}
@media (max-width: 780px) {
  header .header_wrapper .join_us a {
    font-size: 7px;
  }
}
@media (max-width: 715px) {
  header .header_wrapper .join_us a {
    font-size: 15px;
  }
}
header .header_wrapper .burger_menu_icon {
  width: 35px;
  height: 35px;
  position: relative;
  cursor: pointer;
  display: none;
}
@media (max-width: 715px) {
  header .header_wrapper .burger_menu_icon {
    display: flex;
  }
}
header .header_wrapper .burger_menu_icon.active {
  position: fixed;
  top: 30px;
  right: 40px;
  z-index: 7;
}
header .header_wrapper .burger_menu_icon.active .line1 {
  top: 80%;
  transform: rotate(45deg);
}
header .header_wrapper .burger_menu_icon.active .line2 {
  display: none;
}
header .header_wrapper .burger_menu_icon.active .line3 {
  top: 80%;
  transform: rotate(-225deg);
}
header .header_wrapper .burger_menu_icon .line {
  width: 100%;
  height: 2px;
  background-color: #c4c2c3;
  border-radius: 7px;
  position: absolute;
  top: 50%;
  transition: transform 0.5s ease;
}
header .header_wrapper .burger_menu_icon .line1 {
  top: 25%;
}
header .header_wrapper .burger_menu_icon .line3 {
  top: 75%;
}

body {
  background-color: #000000;
}
body .container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1370px) {
  body .container {
    width: 92%;
  }
}
@media (max-width: 715px) {
  body .container {
    width: 88%;
  }
}
body .container h5 {
  margin-bottom: 20px;
  color: #f21a09;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  body .container h5 {
    font-size: 12px;
  }
}
@media (max-width: 870px) {
  body .container h5 {
    margin-bottom: 10px;
    font-size: 10px;
  }
}
body .container h3 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
  position: relative;
}
body .container h3::after {
  display: inline-block;
  content: "";
  width: 35px;
  height: 2px;
  background-color: #f21a09;
  position: absolute;
  left: 0;
  bottom: -20px;
}
@media (max-width: 1024px) {
  body .container h3 {
    font-size: 28px;
  }
}
@media (max-width: 870px) {
  body .container h3 {
    font-size: 25px;
  }
}

main .section_1 {
  margin-top: 20px;
  display: flex;
  justify-content: justify-content;
  align-items: center;
}
main .section_1 .left_block {
  width: 50%;
}
main .section_1 .left_block h2 {
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  line-height: 65px;
}
@media (max-width: 1200px) {
  main .section_1 .left_block h2 {
    font-size: 48px;
  }
}
@media (max-width: 960px) {
  main .section_1 .left_block h2 {
    font-size: 42px;
  }
}
@media (max-width: 870px) {
  main .section_1 .left_block h2 {
    font-size: 36px;
  }
}
main .section_1 .left_block p {
  margin-top: 25px;
  color: #c4c2c3;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  line-height: 25px;
  width: 95%;
}
main .section_1 .left_block .training_video {
  margin-top: 25px;
}
main .section_1 .left_block .training_video .play_button i {
  margin-right: 5px;
  color: #f21a09;
  cursor: pointer;
}
main .section_1 .left_block .training_video .play_button a {
  color: #c4c2c3;
  font-weight: 800;
  color: #c4c2c3;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
}
main .section_1 .left_block .training_video .play_button a:nth-child(2) {
  text-decoration: underline;
}
main .section_1 .left_block .training_video .training_video_overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 8;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
main .section_1 .left_block .training_video .training_video_overlay.active {
  display: flex;
}
main .section_1 .left_block .training_video .training_video_overlay #training_video_container .close {
  position: absolute;
  top: 10%;
  right: 15%;
  cursor: pointer;
}
@media (max-width: 1200px) {
  main .section_1 .left_block .training_video .training_video_overlay #training_video_container .close {
    top: 8%;
    right: 10%;
  }
}
@media (max-width: 1080px) {
  main .section_1 .left_block .training_video .training_video_overlay #training_video_container .close {
    top: 8%;
    right: 6%;
  }
}
@media (max-width: 955px) {
  main .section_1 .left_block .training_video .training_video_overlay #training_video_container .close {
    top: 8%;
    right: 4%;
  }
}
@media (max-width: 770px) {
  main .section_1 .left_block .training_video .training_video_overlay #training_video_container .close {
    top: 17%;
    right: 6%;
  }
}
@media (max-width: 680px) {
  main .section_1 .left_block .training_video .training_video_overlay #training_video_container .close {
    top: 25%;
    right: 6%;
  }
}
@media (max-width: 625px) {
  main .section_1 .left_block .training_video .training_video_overlay #training_video_container .close {
    top: 22%;
    right: 4%;
  }
}
@media (max-width: 550px) {
  main .section_1 .left_block .training_video .training_video_overlay #training_video_container .close {
    top: 27%;
  }
}
@media (max-width: 440px) {
  main .section_1 .left_block .training_video .training_video_overlay #training_video_container .close {
    top: 30%;
  }
}
main .section_1 .left_block .training_video .training_video_overlay #training_video_container .close i {
  font-size: 30px;
  color: #f21a09;
}
@media (max-width: 880px) {
  main .section_1 .left_block .training_video .training_video_overlay #training_video_container iframe {
    width: 700px;
    height: 500px;
  }
}
@media (max-width: 768px) {
  main .section_1 .left_block .training_video .training_video_overlay #training_video_container iframe {
    width: 600px;
    height: 400px;
  }
}
@media (max-width: 680px) {
  main .section_1 .left_block .training_video .training_video_overlay #training_video_container iframe {
    width: 500px;
    height: 300px;
  }
}
@media (max-width: 550px) {
  main .section_1 .left_block .training_video .training_video_overlay #training_video_container iframe {
    width: 400px;
    height: 200px;
  }
}
@media (max-width: 440px) {
  main .section_1 .left_block .training_video .training_video_overlay #training_video_container iframe {
    width: 300px;
    height: 200px;
  }
}
main .section_1 .right_block {
  width: 50%;
}
main .section_1 .right_block img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main .about_us_section {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .about_us_section .left_block {
  transform: rotate(-90deg);
  width: 5%;
}
main .about_us_section .left_block a {
  color: #f21a09;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  position: relative;
  transition: color 0.3s ease;
}
main .about_us_section .left_block a::before {
  display: inline-block;
  content: "";
  width: 20%;
  height: 1px;
  background-color: #c4c2c3;
  position: absolute;
  top: 50%;
  left: -20px;
}
main .about_us_section .left_block a:hover {
  color: #ffffff;
}
main .about_us_section .middle_block {
  margin-left: -70px;
  width: 38%;
}
main .about_us_section .middle_block img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main .about_us_section .right_block {
  width: 50%;
}
main .about_us_section .right_block p {
  margin-top: 40px;
  color: #c4c2c3;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  line-height: 25px;
  width: 90%;
}
@media (max-width: 1160px) {
  main .about_us_section .right_block p {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  main .about_us_section .right_block p span {
    display: block;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  }
}
main .about_us_section .right_block p span.visible {
  max-height: 500px;
  opacity: 1;
}
main .about_us_section .right_block .read_more {
  color: #f21a09;
  font-size: 12px;
  font-weight: 300;
  line-height: normal;
  cursor: pointer;
  margin-top: 15px;
  text-transform: uppercase;
  display: none;
}
@media (max-width: 1024px) {
  main .about_us_section .right_block .read_more {
    display: block;
  }
}
main .our_trainers_section {
  margin-top: 150px;
}/*# sourceMappingURL=global.css.map */