main {
  .section_1 {
    margin-top: 20px;
    @include flex(justify-content, center);

    .left_block {
      width: 50%;

      h2 {
        @include text_font_style($nav-elements-color, 54px, 700);
        text-transform: uppercase;
        line-height: 65px;

        @media (max-width: $desktop-large-screen) {
          font-size: 48px;
        }

        @media (max-width: 960px) {
          font-size: 42px;
        }

        @media (max-width: 870px) {
          font-size: 36px;
        }
      }

      p {
        margin-top: 25px;
        @include text_font_style($logo-color, 14px, 300);
        line-height: 25px;
        width: 95%;
      }

      .training_video {
        margin-top: 25px;

        .play_button {
          i {
            margin-right: 5px;
            color: $button-background;
            cursor: pointer;
          }

          a {
            color: $logo-color;
            font-weight: 800;
            @include text_font_style($logo-color, 16px, 800);

            &:nth-child(2) {
              text-decoration: underline;
            }
          }
        }

        .training_video_overlay {
          width: 100%;
          height: 100%;
          position: fixed;
          top: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.85);
          z-index: 8;
          display: flex;
          justify-content: center;
          align-items: center;
          display: none;

          &.active {
            display: flex;
          }

          #training_video_container {
            .close {
              position: absolute;
              top: 10%;
              right: 15%;
              cursor: pointer;

              @media (max-width: 1200px) {
                top: 8%;
                right: 10%;
              }

              @media (max-width: 1080px) {
                top: 8%;
                right: 6%;
              }

              @media (max-width: 955px) {
                top: 8%;
                right: 4%;
              }

              @media (max-width: 770px) {
                top: 17%;
                right: 6%;
              }

              @media (max-width: 680px) {
                top: 25%;
                right: 6%;
              }

              @media (max-width: 625px) {
                top: 22%;
                right: 4%;
              }

              @media (max-width: 550px) {
                top: 27%;
              }

              @media (max-width: 440px) {
                top: 30%;
              }

              i {
                font-size: 30px;
                color: $button-background;
              }
            }

            iframe {
              @media (max-width: 880px) {
                width: 700px;
                height: 500px;
              }

              @media (max-width: $tablet) {
                width: 600px;
                height: 400px;
              }

              @media (max-width: 680px) {
                width: 500px;
                height: 300px;
              }

              @media (max-width: 550px) {
                width: 400px;
                height: 200px;
              }

              @media (max-width: 440px) {
                width: 300px;
                height: 200px;
              }
            }
          }
        }
      }
    }

    .right_block {
      width: 50%;

      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }

  .about_us_section {
    margin-top: 150px;
    @include flex(space-between, center);

    .left_block {
      transform: rotate(-90deg);
      width: 5%;

      a {
        @include text_font_style($button-background, 15px, 400);
        position: relative;
        transition: $change-color;

        &::before {
          display: inline-block;
          content: "";
          width: 20%;
          height: 1px;
          background-color: $logo-color;
          position: absolute;
          top: 50%;
          left: -20px;
        }

        &:hover {
          color: $nav-elements-color;
        }
      }
    }

    .middle_block {
      margin-left: -70px;
      width: 38%;

      img {
        width: 100%;
        object-fit: contain;
      }
    }

    .right_block {
      width: 50%;

      p {
        margin-top: 40px;
        @include text_font_style($logo-color, 14px, 300);
        line-height: 25px;
        width: 90%;

        @media (max-width: 1160px) {
          width: 100%;
        }

        span {
          @media (max-width: $laptop-small-screen) {
            display: block;
            overflow: hidden;
            max-height: 0;
            opacity: 0;
            transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
          }

          &.visible {
            max-height: 500px;
            opacity: 1;
          }
        }
      }

      .read_more {
        @include text_font_style($button-background, 12px, 300);
        cursor: pointer;
        margin-top: 15px;
        text-transform: uppercase;
        display: none;

        @media (max-width: $laptop-small-screen) {
          display: block;
        }
      }
    }
  }

  .our_trainers_section {
    margin-top: 150px;
  }
}
