main {
  .products_page {
    @media (max-width: 715px) {
      h3 {
        width: 300px;
      }

      h5 {
        text-align: center;
      }
    }

    .show_filters {
      @include flex(left, center);
      -webkit-column-gap: 8px;
      -moz-column-gap: 8px;
      column-gap: 8px;
      width: 152px;
      margin-top: 80px;

      i,
      p {
        color: $form-elements-color;
        font-size: 15px;
        cursor: pointer;
        text-transform: uppercase;
      }
    }

    .products_wrapper {
      @include flex(space-between, top);

      .filters {
        width: 0;
        overflow: hidden;
        margin-top: 100px;
        -webkit-transition: width 0.5s ease-in-out,
          -webkit-transform 0.5s ease-in-out;
        transition: width 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
        -o-transition: width 0.5s ease-in-out, transform 0.5s ease-in-out;
        transition: width 0.5s ease-in-out, transform 0.5s ease-in-out;
        transition: width 0.5s ease-in-out, transform 0.5s ease-in-out,
          -webkit-transform 0.5s ease-in-out;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0;

        &.visible {
          width: 15%;
          -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
          transform: translateX(0);
          opacity: 1;

          @media (max-width: 720px) {
            width: 20%;
          }

          @media (max-width: 572px) {
            width: 25%;
          }

          @media (max-width: 480px) {
            width: 30%;
          }

          ~ .products {
            width: 83%;
          }
        }

        .flavor_div {
          p {
            @include text_font_style($nav-elements-color, 15px, 800);
            text-transform: uppercase;
            margin-bottom: 20px;

            @media (max-width: 1000px) {
              font-size: 14px;
            }

            @media (max-width: 350px) {
              font-size: 12px;
            }
          }

          .flavor_options {
            .option {
              display: block;
              position: relative;
              padding-left: 35px;
              margin-bottom: 12px;
              cursor: pointer;
              font-size: 22px;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              @include text_font_style($logo-color, 15px, 400);

              @media (max-width: 1000px) {
                font-size: 12px;
              }

              @media (max-width: 480px) {
                font-size: 11px;
              }

              &:hover {
                .checkmark {
                  background-color: $checkmark-hover-bg-color;
                }
              }

              .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 16px;
                width: 16px;
                border-radius: 3px;
                background-color: $checkmark-bg-color;

                @media (max-width: 595px) {
                  height: 14px;
                  width: 14px;
                }

                @media (max-width: 480px) {
                  height: 12px;
                  width: 12px;
                }

                &:after {
                  content: "";
                  position: absolute;
                  display: none;
                  left: 5px;
                  top: 2px;
                  width: 3px;
                  height: 8px;
                  border: solid $nav-elements-color;
                  border-width: 0 3px 3px 0;
                  -webkit-transform: rotate(45deg);
                  -ms-transform: rotate(45deg);
                  transform: rotate(45deg);

                  @media (max-width: 595px) {
                    width: 2px;
                    height: 6px;
                    top: 2px;
                  }
                }
              }

              input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;

                &:checked {
                  ~ .checkmark {
                    background-color: $checkmark-checked-bg-color;

                    &:after {
                      display: block;
                    }
                  }
                }
              }
            }
          }
        }

        .price_div {
          margin-top: 80px;

          p {
            @include text_font_style($nav-elements-color, 15px, 800);
            text-transform: uppercase;
            margin-bottom: 20px;

            @media (max-width: 1000px) {
              font-size: 14px;
            }

            @media (max-width: 350px) {
              font-size: 12px;
            }
          }

          .price_filter {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            label {
              color: $nav-elements-color;

              @media (max-width: 1000px) {
                font-size: 14px;
              }
            }

            input {
              border: 1px solid $nav-elements-color;
              width: 70%;
              margin-top: 10px;
              border-radius: 3px;

              &:focus {
                outline: none;
              }
            }
          }
        }
      }

      .products {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 4%;
        row-gap: 25px;

        @media (max-width: 1000px) {
          grid-template-columns: repeat(3, 1fr);
          column-gap: 5%;
          row-gap: 20px;
        }

        @media (max-width: 890px) {
          grid-template-columns: repeat(2, 1fr);
          column-gap: 10%;
          row-gap: 20px;
        }

        @media (max-width: 800px) {
          grid-template-columns: repeat(1, 1fr);
        }

        .product_block {
          margin-top: 50px;

          @media (max-width: 800px) {
            width: 50%;
            -ms-grid-column-align: center;
            justify-self: center;
          }

          .product_image {
            width: 100%;
            cursor: pointer;

            img {
              width: 100%;
              height: 100%;
              -o-object-fit: contain;
              object-fit: contain;
              border-radius: 7px;
            }
          }

          h6 {
            @include text_font_style($form-elements-color, 16px, 400);
            margin-top: 20px;
            cursor: pointer;

            @media (max-width: 800px) {
              font-size: 18px;
            }
          }

          .price {
            @include text_font_style($footer-border-color, 16px, 800);
            margin: 10px 0;

            @media (max-width: 800px) {
              font-size: 18px;
            }
          }

          .rating {
            i {
              color: $button-background;
              font-size: 14px;

              @media (max-width: 800px) {
                font-size: 15px;
              }
            }
          }

          .overlay {
            background-color: $overlay-bg-color;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 10;
            display: none;

            .overlay_content {
              width: 70%;
              height: auto;
              background-color: $product-overlay-bg-color;
              -webkit-box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5),
                -6px -6px 15px rgba(255, 255, 255, 0.1);
              box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5),
                -6px -6px 15px rgba(255, 255, 255, 0.1);
              position: fixed;
              top: 50%;
              left: 50%;
              -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              @include flex(space-between, center);
              border-radius: 7px;

              @media (max-width: 1180px) {
                width: 92%;
              }

              @media (max-width: 1030px) {
                height: 80%;
              }

              @media (max-width: 820px) {
                width: 95%;
                height: 90%;
              }

              @media (max-width: 600px) {
                height: 75%;
              }

              @media (max-width: 550px) {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: start;
                height: 95%;
              }

              .product_image {
                width: 50%;
                height: 100%;

                @media (max-width: 600px) {
                  width: 35%;
                }

                @media (max-width: 550px) {
                  width: 40%;
                  height: 40%;
                }

                @media (max-width: 340px) {
                  height: 28%;
                }

                img {
                  width: 100%;
                  height: 100%;
                  -o-object-fit: contain;
                  object-fit: contain;
                }
              }

              .product_description {
                width: 50%;
                padding: 0 30px;

                @media (max-width: 1170px) {
                  padding: 0 20px;
                }

                @media (max-width: 600px) {
                  width: 65%;
                }

                @media (max-width: 550px) {
                  width: 95%;
                  text-align: center;
                }

                h6 {
                  @include text_font_style($main-background, 32px, 800);

                  @media (max-width: 1030px) {
                    font-size: 28px;
                  }

                  @media (max-width: 630px) {
                    font-size: 25px;
                  }

                  @media (max-width: 550px) {
                    margin-top: -20px;
                  }

                  @media (max-width: 430px) {
                    font-size: 22px;
                  }
                }

                .price {
                  @include text_font_style(
                    $unavailable-product-color,
                    20px,
                    300
                  );
                  margin: 40px 0;

                  @media (max-width: 1170px) {
                    margin: 20px 0;
                  }

                  @media (max-width: 1030px) {
                    font-size: 18px;
                  }

                  @media (max-width: 630px) {
                    font-size: 17px;
                  }
                }

                .flavor {
                  @media (max-width: 550px) {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                  }

                  p {
                    @include text_font_style($main-background, 17px, 800);

                    @media (max-width: 430px) {
                      font-size: 14px;
                    }
                  }

                  .flavor_blocks {
                    padding-top: 15px;
                    @include flex(left, center);
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    -webkit-column-gap: 10px;
                    -moz-column-gap: 10px;
                    column-gap: 10px;
                    row-gap: 10px;
                    width: 70%;

                    @media (max-width: 550px) {
                      -webkit-box-pack: center;
                      -ms-flex-pack: center;
                      justify-content: center;
                    }

                    p {
                      @include text_font_style($main-background, 16px, 300);
                      border: 1px solid $logo-color;
                      border-radius: 7px;
                      padding: 7px;
                      cursor: pointer;
                      -webkit-transition: $change-border-color;
                      -o-transition: $change-border-color;
                      transition: $change-border-color;

                      @media (max-width: 1030px) {
                        font-size: 14px;
                      }

                      @media (max-width: 740px) {
                        font-size: 12px;
                      }

                      @media (max-width: 630px) {
                        font-size: 10px;
                      }

                      @media (max-width: 430px) {
                        font-size: 9px;
                      }

                      &:hover {
                        border-color: $main-background;
                      }

                      &.unavailable {
                        background-color: $unavailable-product-bg-color;
                        color: $unavailable-product-color;

                        &:hover {
                          border-color: $logo-color;
                        }
                      }
                    }
                  }
                }

                .description {
                  margin-top: 40px;

                  @media (max-width: 1170px) {
                    margin-top: 20px;
                  }

                  p {
                    &:first-child {
                      @include text_font_style($main-background, 17px, 800);

                      @media (max-width: 430px) {
                        font-size: 14px;
                      }
                    }

                    &:last-child {
                      margin-top: 15px;
                      @include text_font_style($main-background, 17px, 300);

                      @media (max-width: 1030px) {
                        font-size: 14px;
                      }

                      @media (max-width: 740px) {
                        font-size: 12px;
                      }

                      @media (max-width: 630px) {
                        font-size: 10px;
                      }

                      @media (max-width: 430px) {
                        font-size: 9px;
                      }
                    }
                  }
                }
              }

              .close_btn {
                position: absolute;
                top: 20px;
                right: 20px;
                cursor: pointer;

                i {
                  font-size: 25px;
                  color: $main-background;
                }
              }
            }
          }
        }
      }
    }
  }
}
