html {
  scroll-behavior: smooth;

  body {
    background-color: $main-background;

    .container {
      max-width: 1250px;
      width: 100%;
      margin: 0 auto;

      @media (max-width: 1370px) {
        width: 92%;
      }

      @media (max-width: 715px) {
        width: 88%;
      }
    }

    h5 {
      margin-bottom: 20px;
      margin-top: 100px;
      @include text_font_style($button-background, 14px, 400);
      text-transform: uppercase;

      @media (max-width: $laptop-small-screen) {
        font-size: 12px;
      }

      @media (max-width: 870px) {
        margin-bottom: 10px;
        font-size: 10px;
      }

      @media (max-width: 715px) {
        font-size: 14px;
      }
    }

    h3 {
      @include text_font_style($nav-elements-color, 32px, 400);
      position: relative;

      &::after {
        display: inline-block;
        content: "";
        width: 35px;
        height: 2px;
        background-color: $button-background;
        position: absolute;
        left: 0;
        bottom: -20px;
      }

      @media (max-width: 715px) {
        width: 200px;
        margin: 0 auto;

        &::after {
          left: 50%;
          transform: translate(-50%);
        }
      }

      @media (max-width: $laptop-small-screen) {
        font-size: 28px;
      }

      @media (max-width: 870px) {
        font-size: 25px;
      }

      @media (max-width: 715px) {
        font-size: 28px;
      }
    }
  }
}
