/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

footer {
  // general styles
  p {
    @include text_font_style($form-elements-color, 15px, 400);
    text-transform: uppercase;
  }

  // general styles
  ul {
    li {
      font-family: $font-primary;

      &:not(:first-child) {
        margin-top: 12px;
      }

      &:first-child {
        margin-top: 18px;
      }

      a {
        @include text_font_style($logo-color, 13px, 400);
        position: relative;

        &::after {
          display: inline-block;
          content: "";
          width: 0%;
          height: 2px;
          background-color: $button-background;
          -webkit-transition: $change-width;
          -o-transition: $change-width;
          transition: $change-width;
          position: absolute;
          bottom: -5px;
          left: 0;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }

  // parent-child starts from here

  .footer_wrapper {
    padding-top: 100px;

    .top_row {
      @include flex(left, top);
      border-top: 1px solid $footer-border-color;
      border-bottom: 1px solid $footer-border-color;
      padding: 100px 0;
      -webkit-column-gap: 15%;
      -moz-column-gap: 15%;
      column-gap: 15%;

      .logo {
        width: 12%;
        cursor: pointer;

        @media (max-width: 600px) {
          width: 15%;
        }

        @media (max-width: 420px) {
          width: 20%;
        }

        a {
          color: $logo-color;
          display: block;
          text-align: center;

          @media (max-width: 715px) {
            font-size: 12px;
          }

          &:nth-child(1) {
            margin-bottom: 10px;
          }
          img {
            width: 100%;
            -o-object-fit: contain;
            object-fit: contain;
          }
        }
      }

      .column_1,
      .column_2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
      }
    }

    .bottom_row {
      p {
        @include text_font_style($logo-color, 13px, 400);
        margin: 50px 0;
      }
    }
  }
}
