header {
  background-color: $main-background;
  .header_wrapper {
    padding: 50px 0;
    @include flex(space-between, center);

    .logo {
      width: 12%;
      cursor: pointer;

      @media (max-width: $desktop-large-screen) {
        width: 11%;
      }

      @media (max-width: $laptop-small-screen) {
        width: 10%;
      }

      @media (max-width: 960px) {
        width: 8%;
      }

      a {
        color: $logo-color;
        display: block;
        text-align: center;

        &:nth-child(1) {
          margin-bottom: 10px;
        }
        img {
          width: 100%;
          object-fit: contain;
        }
      }
    }

    .navigation {
      nav {
        ul {
          @include flex(center, center);
          column-gap: 30px;

          li {
            font-family: $font-primary;
            position: relative;

            &::after {
              display: inline-block;
              content: "";
              width: 0%;
              height: 2px;
              background-color: $button-background;
              transition: width 0.3s ease;
              position: absolute;
              bottom: -5px;
              left: 0;
            }

            &:hover::after {
              width: 100%;
            }

            a {
              text-transform: uppercase;
              @include text_font_style($nav-elements-color, 15px, 400);

              @media (max-width: 1310px) {
                font-size: 13px;
              }

              @media (max-width: $desktop-large-screen) {
                font-size: 11px;
              }

              @media (max-width: $laptop-small-screen) {
                font-size: 10px;
              }

              @media (max-width: 960px) {
                font-size: 9px;
              }
            }
          }
        }
      }
    }

    .join_us {
      background-color: $button-background;
      padding: 10px 20px;
      border-radius: 7px;
      transition: $change-background-color;
      cursor: pointer;

      &:hover {
        background-color: $nav-elements-color;

        a {
          color: $button-background;
        }
      }

      a {
        text-transform: uppercase;
        @include text_font_style($nav-elements-color, 15px, 400);
        transition: $change-color;

        @media (max-width: 1310px) {
          font-size: 13px;
        }

        @media (max-width: $desktop-large-screen) {
          font-size: 11px;
        }

        @media (max-width: $laptop-small-screen) {
          font-size: 10px;
        }

        @media (max-width: 960px) {
          font-size: 9px;
        }
      }
    }

    .burger_menu_icon {
      width: 40px;
      height: 40px;
      position: relative;
      cursor: pointer;
      display: none;

      .line {
        width: 100%;
        height: 2px;
        background-color: white;
        border-radius: 7px;
        position: absolute;
        top: 50%;
      }

      .line1 {
        top: 25%;
      }

      .line3 {
        top: 75%;
      }
    }
  }
}
