header {
  background-color: $main-background;
  .header_wrapper {
    padding: 50px 0;
    @include flex(space-between, center);

    @media (max-width: 870px) {
      padding: 30px 0;
    }

    .logo {
      width: 12%;
      cursor: pointer;

      @media (max-width: $desktop-large-screen) {
        width: 11%;
      }

      @media (max-width: $laptop-small-screen) {
        width: 10%;
      }

      @media (max-width: 960px) {
        width: 8%;
      }

      @media (max-width: 870px) {
        width: 6%;
      }

      @media (max-width: 715px) {
        width: 10%;
      }

      a {
        color: $logo-color;
        display: block;
        text-align: center;

        @media (max-width: 960px) {
          font-size: 10px;
        }

        @media (max-width: 870px) {
          font-size: 9px;
        }

        @media (max-width: 780px) {
          font-size: 8px;
        }

        @media (max-width: 715px) {
          font-size: 12px;
        }

        &:nth-child(1) {
          margin-bottom: 10px;
        }
        img {
          width: 100%;
          object-fit: contain;
        }
      }
    }

    .navigation {
      @media (max-width: 715px) {
        display: none;
      }

      &.active {
        display: block;
      }

      nav {
        ul {
          @include flex(center, center);
          column-gap: 30px;

          @media (max-width: 715px) {
            height: 100vh;
            width: 100%;
            padding: 110px 0 170px 0;
            flex-direction: column;
            justify-content: space-between;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background-color: $main-background;
            opacity: 0.9;
            z-index: 6;
          }

          li {
            font-family: $font-primary;
            position: relative;

            &::after {
              display: inline-block;
              content: "";
              width: 0%;
              height: 2px;
              background-color: $button-background;
              transition: $change-width;
              position: absolute;
              bottom: -5px;
              left: 0;
            }

            &:hover::after {
              width: 100%;
            }

            a {
              text-transform: uppercase;
              @include text_font_style($nav-elements-color, 15px, 400);

              @media (max-width: 1310px) {
                font-size: 13px;
              }

              @media (max-width: $desktop-large-screen) {
                font-size: 11px;
              }

              @media (max-width: $laptop-small-screen) {
                font-size: 10px;
              }

              @media (max-width: 960px) {
                font-size: 9px;
              }

              @media (max-width: 870px) {
                font-size: 8px;
              }

              @media (max-width: 780px) {
                font-size: 7px;
              }

              @media (max-width: 715px) {
                font-size: 15px;
              }
            }
          }
        }
      }
    }

    .overlay {
      position: fixed;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      background: rgba(0, 0, 0, 0.8);
      opacity: 0;
      z-index: 5;
      transition: $change-overlay-styles;

      &.active {
        opacity: 0.96;
        width: 100%;
        height: 100%;
      }
    }

    .join_us {
      background-color: $button-background;
      padding: 10px 20px;
      border-radius: 7px;
      transition: $change-background-color;
      cursor: pointer;

      @media (max-width: 715px) {
        display: none;
      }

      &:hover {
        background-color: $nav-elements-color;

        a {
          color: $button-background;
        }
      }

      &.active {
        display: block;
        position: fixed;
        bottom: 11%;
        left: 50%;
        transform: (translate(-50%));
        z-index: 7;
      }

      a {
        text-transform: uppercase;
        @include text_font_style($nav-elements-color, 15px, 400);
        transition: $change-color;

        @media (max-width: 1310px) {
          font-size: 13px;
        }

        @media (max-width: $desktop-large-screen) {
          font-size: 11px;
        }

        @media (max-width: $laptop-small-screen) {
          font-size: 10px;
        }

        @media (max-width: 960px) {
          font-size: 9px;
        }

        @media (max-width: 870px) {
          font-size: 8px;
        }

        @media (max-width: 780px) {
          font-size: 7px;
        }

        @media (max-width: 715px) {
          font-size: 15px;
        }
      }
    }

    .burger_menu_icon {
      width: 35px;
      height: 35px;
      position: relative;
      cursor: pointer;
      display: none;

      @media (max-width: 715px) {
        display: flex;
      }

      &.active {
        position: fixed;
        top: 30px;
        right: 40px;
        z-index: 7;

        .line1 {
          top: 80%;
          transform: rotate(45deg);
        }

        .line2 {
          display: none;
        }

        .line3 {
          top: 80%;
          transform: rotate(-225deg);
        }
      }

      .line {
        width: 100%;
        height: 2px;
        background-color: $logo-color;
        border-radius: 7px;
        position: absolute;
        top: 50%;
        transition: $transform;
      }

      .line1 {
        top: 25%;
      }

      .line3 {
        top: 75%;
      }
    }
  }
}
