@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin text_font_style($fc, $ff, $fs, $fw) {
  color: $fc;
  font-family: $ff;
  font-size: $fs;
  font-weight: $fw;
  line-height: normal;
}
