//font
$font-family: "FiraGO", sans-serif;

// colors
$header-background: #162974;
$nav-element-color: #f5f5f5;
$dark-blue-color: #022859;

// transitions
$change-background-color: background-color 0.3s ease;

// resolution
$desktop-large-screen: 1200px;
$laptop-small-screen: 1024px;
$tablet: 768px;
$mobile: 480px;
